*{
    padding: 0px;
    margin: 0px;
}

.contenerPadre{
    display: flex;
    width: 100%;
    height: 100vh;
}

.listaUsuario{
    width: 20%;
    height: 100vh;
}

.imagenEdit {
    width: 60%;
    height: 100vh;
    background-color: mistyrose;
}

.herramientas{
    width: 20%;
    height: 100vh;
}

.cargarImagen img{
    width: 800px;
}

.cargarImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.datosUsuario{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-left: 10px;
}

.amigosEditand {
    width: 100%;
    height: 24vh;
    margin-left: 10px;
}

.listaConectados {
    width: 100%;
    height: 60vh;
    margin-left: 10px;
}

#imagenUsuario {
    width:70px;
    height:70px;
    border-radius:50%;
    border:2px solid #666;
}

.item{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.nombreUsuario{
    margin-left: 10px;
}

.colorTexto{
    color: #182e5d;
    margin-left: 40px;
    margin-top: 10px;
}

.textoHerr{
    color: #182e5d;
}

.colorNombre{
    color: #0c7cfa;
}
.barraBusqueda{
    width: 300px;
    height: 15px;
    border-radius: 100px;
    color: white;
    border: none;
    background-color: #0c7cfa;
    padding: 10px;
}

/* Para cambiar el color del texto de un pleaxeholder*/
.barraBusqueda::placeholder{
    color: white;
}

/* Para cambiar el color o quitar el borde al dar click sobre un input*/
.barraBusqueda:focus{
    outline: none;
}

.padreBarra{
    height: 5vh;
    display: flex;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.listaScroll{
    width: 98%;
    height: 60vh;
    overflow:hidden;
    overflow-y:scroll;
}

.tituloHerramineta{
    display: flex;
    width: 100%;
    height: 4vh;
    justify-content: center;
    align-items: center;
}

.sliders{
    display: flex;
    width: 100%;
    height: 11vh;
    justify-content: center;
}

.textoSlider{
    margin-top: 5px;
    margin-right: 10px;
}

.sliderBarra{
    width: 100%;
    margin-left: 10px;
}

.slider{
    -webkit-appearance: none;
    margin-top: 10px;
    width: 87%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none; /* Eliminar el contorno */
    opacity: 0.8; /* Establecer la transparencia (para efectos de mouse-over en hover) */
    -webkit-transition: .2s; /* Transición de 0,2 segundos al pasar el ratón por encima */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 2; /* Se muestra completamente al pasar el ratón por encima */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Anular el aspecto por defecto */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0c7cfa;
    cursor: pointer; /* Cursor al pasar el ratón por encima */
}

.filtros{
    width: 100%;
    height: 76.8vh;
    border: solid 1px black;
}