*{
    padding: 0px;
    margin: 0px;
}

.contenerPadre{
    display: flex;
    width: 100%;
    height: 100vh;
}

.listaUsuario{
    width: 20%;
    height: 100vh;
}

.imagenEdit {
    width: 60%;
    height: 100vh;
    background-color: mistyrose;
}

.herramientas{
    width: 20%;
    height: 100vh;
}

.cargarImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.datosUsuario{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-left: 10px;
}

.amigosEditand {
    width: 100%;
    height: 24vh;
    margin-left: 10px;
}

.listaConectados {
    width: 100%;
    height: 60vh;
    margin-left: 10px;
}

#imagenUsuario {
    width:70px;
    height:70px;
    border-radius:50%;
    border:2px solid #666;
}

.item{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.nombreUsuario{
    margin-left: 10px;
}

.colorTexto{
    color: #182e5d;
    margin-left: 40px;
    margin-top: 10px;
}

.textoHerr{
    color: #182e5d;
}

.colorNombre{
    color: #0c7cfa;
}
.barraBusqueda{
    width: 300px;
    height: 15px;
    border-radius: 100px;
    color: white;
    border: none;
    background-color: #0c7cfa;
    padding: 10px;
}

/* Para cambiar el color del texto de un pleaxeholder*/
.barraBusqueda::placeholder{
    color: white;
}

/* Para cambiar el color o quitar el borde al dar click sobre un input*/
.barraBusqueda:focus{
    outline: none;
}

.padreBarra{
    height: 5vh;
    display: flex;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.listaScroll{
    width: 98%;
    height: 60vh;
    overflow:hidden;
    overflow-y:scroll;
}

.tituloHerramineta{
    display: flex;
    width: 100%;
    height: 4vh;
    justify-content: center;
    align-items: center;
}

.sliders{
    display: flex;
    width: 100%;
    height: 11vh;
    justify-content: center;
}

.textoSlider{
    margin-top: 5px;
    margin-right: 10px;
}

.sliderBarra{
    width: 100%;
    margin-left: 10px;
}

.slider{
    -webkit-appearance: none;
    margin-top: 10px;
    width: 87%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none; /* Eliminar el contorno */
    opacity: 0.8; /* Establecer la transparencia (para efectos de mouse-over en hover) */
    -webkit-transition: .2s; /* Transición de 0,2 segundos al pasar el ratón por encima */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 2; /* Se muestra completamente al pasar el ratón por encima */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Anular el aspecto por defecto */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0c7cfa;
    cursor: pointer; /* Cursor al pasar el ratón por encima */
}

/* codigo del dashboard */

.container-windows-slider{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.window-slider-list{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: black;
}
.windows-slider-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: mistyrose;
}
.canva {
    width: 52%;
}
.windows-slider-configure{
    display: flex;
    width: 100%;
    height: 20vh;
}
.SubirImg{
    display: flex;
    width: 14%;
    height: 19.8vh;
    justify-content: center;
    align-items: center;
}
.btnCargarImg{
    width: 300px;
    height: 25px;
    border-radius: 100px;
    color: white;
    border: none;
    font-size: 15px;
    background-color: #0c7cfa;
    margin-top: 3px;
}
.filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 19.8vh;
}
.divBotonesFiltro{
    width: 100%;
}
.btnFiltro{
    width: 20%;
    height: 5vh;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0c7cfa;
    font-size: 20px;
}
.btnFiltro:hover{
    -webkit-box-shadow: 0px 0px 16px -4px #000000;
    box-shadow: 0px 0px 16px -4px #000000;
}
.divBotonesExtra{
    width: 100%;
}
.btnOpciones{
    width: 30%;
    height: 5vh;
    margin: 0px 10px 0px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.btnOpciones:hover{
    -webkit-box-shadow: 0px 0px 16px -4px #000000;
    box-shadow: 0px 0px 16px -4px #000000;
}

#btnDescargar{
    background-color: dodgerblue;
}
#btnRevertir{
    background-color: orangered;
}
.space-configure-img{
    display: flex;
    width: 80%;
    height: 10vh;
    background-color: white;
}
.space-textos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.space-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.space-botones button{
    width: 45%;
    height: 3vh;
    border-radius: 100px;
    margin-left: 2px;
    margin-right: 2px;
    border: solid 1px black;
    background-color: white;
    color: #0c7cfa;
    font-size: 30px;
}
.space-botones button:hover{
    -webkit-box-shadow: 0px 0px 16px -4px #000000;
    box-shadow: 0px 0px 16px -4px #000000;
}
.contenerBotones{
    width: 25%;
}
.centrarBotones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombreParametro{
    display: flex;
    justify-content: center;
}
.space-textos label{
    font-size: 30px;
    color: #182e5d;
}
.list-users{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: cornsilk;
    font-size: 20px;
}
.list-users h1{
    font-size: 20px;
}
.list-user-conectados{
    background-color: grey;
    width: 15%;
    height: 50vh;
    position: absolute;
    margin-left: 70%;
    margin-top: 4%;
    display: none;
}
.notificacion{
    background-color: pink;
    width: 15%;
    height: 50vh;
    position: absolute;
    margin-left: 85%;
    margin-top: 4%;
    display: none;
}
/* media */

