*{
    padding: 0px;
    margin: 0px;
}
body{
   overflow-x: hidden;
    overflow-y: hidden;
}
.logo{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    margin-top: -30%;
    margin-left: -30%;
}
.logo h2{
    font-family: "Ubuntu Mono";
    font-size: 30px;
    padding-left: 10px;
}
.container-card{
    display: flex;
}
.info{
    font-family: Arial;
    position: absolute;
    color: white;
    margin-top: -15%;
    margin-right: 10%;
}
.info h1{
    font-size: 35px;
}
.card-info{
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: ledger;
}
.card-info div{
    padding: 10px;
}

.imgaen{
    transition: 10s ease-in-out;
}
.card-login{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.card-login div{
    padding: 30px;
}
.titulo {
color: #0c7cfa;
    font-family: Arial;
}
.form label{
    color: #666666;
    font-family: Arial;
}
.card-login h2{
    font-family: Arial;
    font-size: 30px;
    color: black;
}
.form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.form input{
    padding: 15px;
    margin: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 7px;
}
.contenedor-button{

    width: 100vh;
    display: flex;
    justify-content: center;
}
.button-inicio{
    background-color: #3a7dff;
    color: #fafafa;
    width: 40%;
    border-radius: 7px;
    border: 1px solid #d1e0fd;
    padding: 10px;
}

