*{
    padding: 0px;
    margin: 0px;
}
body{
   overflow-x: hidden;
    overflow-y: hidden;
}
.logo{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    margin-top: -30%;
    margin-left: -30%;
}
.logo h2{
    font-family: "Ubuntu Mono";
    font-size: 30px;
    padding-left: 10px;
}
.container-card{
    display: flex;
}
.info{
    font-family: Arial;
    position: absolute;
    color: white;
    margin-top: -15%;
    margin-right: 10%;
}
.info h1{
    font-size: 35px;
}
.card-info{
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: ledger;
}
.card-info div{
    padding: 10px;
}

.imgaen{
    transition: 10s ease-in-out;
}
.card-login{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.card-login div{
    padding: 30px;
}
.titulo {
color: #0c7cfa;
    font-family: Arial;
}
.form label{
    color: #666666;
    font-family: Arial;
}
.card-login h2{
    font-family: Arial;
    font-size: 30px;
    color: black;
}
.form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.form input{
    padding: 15px;
    margin: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 7px;
}
.contenedor-button{

    width: 100vh;
    display: flex;
    justify-content: center;
}
.button-inicio{
    background-color: #3a7dff;
    color: #fafafa;
    width: 40%;
    border-radius: 7px;
    border: 1px solid #d1e0fd;
    padding: 10px;
}
.container-signup{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-signup{
    font-family: Arial;
    background-color: white;
    border-radius: 7px;
    width: 40%;
    height: 80vh;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(199,199,199,0.52);
    box-shadow: 0px 0px 12px 5px rgba(199,199,199,0.52);
}
.card-signup h2{
    font-family: Arial;
}
.text-singup{
    margin-left: 40px;
    margin-top: 20px;
}
.text-singup p{
    font-family: Arial;
    font-size: 15px;
    color: #666666;
}

/* estilos del formulariuo sing up */

.container-img-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-img-user img{
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.content-item-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-singup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.signup-button{
    background-color: #0c7cfa;
    border: none;
    border-radius: 7px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    cursor: pointer;
}
.form-singup input{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #afafaf;
}